@tailwind base;
@tailwind components;
@tailwind utilities;

.aa-Panel {
    background-color: #374151 !important;
}
.aa-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.jscroll-inner {
    display: none;
}
